[submodule "goodluck"]
	path = goodluck
	url = git@github.com:2kabhishek/goodluck.git
	branch = master
[submodule "goatsay"]
	path = goatsay
	url = git@github.com:2kabhishek/goatsay.git
	branch = master
[submodule "goldog"]
	path = goldog
	url = git@github.com:2kabhishek/goldog.git
	branch = master
